git+https://github.com/subinps/pyrogram@inline-m
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
umongo==3.0.1
requests
imdbpy
future
emoji
requests
sqlalchemy
python-telegram-bot==11.1.0
psycopg2-binary
feedparser
pyowm
bs4
lxml
demjson
PyLyrics
wget
gTTS
#telegram
zalgo_text
pynewtonmath
bs4
telegraph
